Repository rajdeep/proton: changes, and which Codecov flags are due for each by the changed paths.
All: Proton, ProtonExtensions

codecov.yml:

flags:
  Proton:
    paths:
      - Proton/Sources
  ProtonExtensions:
    paths:
      - ProtonExtensions/Sources

ignore:
  - "**/Tests/*.swift"

Added check for range validity when getting current line from Editor
  Proton/Sources/Editor/EditorView.swift
Due: Proton

Renamed editorLine functions to layoutLine to make intent clearer
  Proton/Sources/Editor/EditorView.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Editor/EditorViewTests.swift
Due: Proton

Renamed missed func related to querying layout line
  Proton/Sources/Editor/EditorView.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Editor/EditorViewTests.swift
Due: Proton

Updated docs
  docs/Classes/EditorView.html
  docs/docsets/Proton.docset/Contents/Resources/Documents/Classes/EditorView.html
  docs/docsets/Proton.docset/Contents/Resources/Documents/search.json
  docs/docsets/Proton.docset/Contents/Resources/Documents/undocumented.json
  docs/docsets/Proton.docset/Contents/Resources/docSet.dsidx
  docs/docsets/Proton.tgz
  docs/search.json
Due: none

Fix currentLine usage in ListIndentCommand
  Proton/Sources/EditorCommand/TextProcessors/ListTextProcessor.swift
Due: Proton

Added check for content length before querying paragraph attribute in calculation of attachment bounds
  Proton/Sources/Attachment/Attachment.swift
Due: Proton

Add a border option to BackgroudStyle
  Proton/Sources/Base/BackgroundStyle.swift
  Proton/Sources/Core/LayoutManager.swift
Due: Proton

Updated BackgroundStyle to have logic of merging background across lines. Also, added option to add borders
  ExampleApp/ExampleApp/Commands/TextBlockCommand.swift
  Proton/Sources/Base/BackgroundStyle.swift
  Proton/Sources/Core/LayoutManager.swift
  Proton/Sources/Core/RichTextEditorContext.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleThreeLines@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleTwoLinesMinorOverlap@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleTwoLinesNoOverlap@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleTwoLinesOverlap@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleWithBorders@3x.png
Due: Proton

Remaned BackgroundStyle.borderStyle to border
  ExampleApp/ExampleApp/Commands/TextBlockCommand.swift
  Proton/Sources/Base/BackgroundStyle.swift
  Proton/Sources/Core/LayoutManager.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
Due: Proton

Fixed carried over typing attributes
  Proton/Sources/Core/RichTextEditorContext.swift
  Proton/Tests/Editor/EditorViewContextTests.swift
Due: Proton

Fixed backgrond rendering for text with extra paragraph spacing
  ExampleApp/ExampleApp/AdvancedFeatures/CommandsExampleViewController.swift
  ExampleApp/ExampleApp/Commands/TextBlockCommand.swift
  Proton/Sources/Core/LayoutManager.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyle@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleThreeLines@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleTwoLinesMinorOverlap@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleTwoLinesOverlap@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleWithBorders@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleWithIncreasedFontSize@3x.png
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testBackgroundStyleWithIncreasedParagraphSpacing@3x.png
Due: Proton

Small tweaks for Smartlinks
  Proton/Sources/Core/LayoutManager.swift
Due: Proton

Fixed text block command in Example app
  ExampleApp/ExampleApp/AdvancedFeatures/CommandsExampleViewController.swift
  ExampleApp/ExampleApp/Commands/TextBlockCommand.swift
Due: none

Return converted to EditorView rect from EditorView::caretRect(for position:)
  Proton/Sources/Editor/EditorView.swift
Due: Proton

Add small test for caretRect
  Proton/Tests/Editor/EditorViewTests.swift
Due: none

Added snapshot test for validating carer rect for scrolled content
  Proton/Proton.xcodeproj/project.pbxproj
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testGetsCaretRectForValidPositionWithScrollableContent@3x.png
Due: none

Return converted to EditorView rect from EditorView::caretRect(for position:) (#51)
  Proton/Proton.xcodeproj/project.pbxproj
  Proton/Sources/Editor/EditorView.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Editor/EditorViewTests.swift
  Proton/Tests/Snapshots/ReferenceImages_64/ProtonTests.EditorSnapshotTests/testGetsCaretRectForValidPositionWithScrollableContent@3x.png
Due: Proton

isSelectable
  Proton/Sources/Editor/EditorView.swift
Due: Proton

public ListTextProcessor.indentMode
  Proton/Sources/EditorCommand/TextProcessors/ListTextProcessor.swift
Due: Proton

Fix underline being re-applied after input method hints for diacritic
  Proton/Sources/Core/TextStorage.swift
Due: Proton

Tweaks
  Proton/Sources/Core/TextStorage.swift
Due: Proton

Add an SPM package manifest
  .gitignore
  Package.swift
Due: none

Declare tests in package manifest
  Package.swift
  Proton/Tests/Core/RichTextViewContextTests.swift
Due: none

Lower minimum version
  Package.swift
Due: none

Add an SPM package manifest (#54)
  .gitignore
  Package.swift
  Proton/Tests/Core/RichTextViewContextTests.swift
Due: none

Use either glyph or character range depending on API
  Proton/Sources/Core/LayoutManager.swift
  Proton/Sources/Core/RichTextView.swift
  Proton/Sources/Editor/EditorView.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testEditorWithArabicText.1.png
Due: Proton

Use either glyph or character range depending on API (#56)
  Proton/Sources/Core/LayoutManager.swift
  Proton/Sources/Core/RichTextView.swift
  Proton/Sources/Editor/EditorView.swift
  Proton/Tests/Editor/EditorSnapshotTests.swift
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testEditorWithArabicText.1.png
Due: Proton

Updated workflow to run checks on PRs
  .github/workflows/build.yml
Due: none

Fix out of bounds exception in ListIndentCommand
  Proton/Sources/Base/AutogrowingTextView.swift
  Proton/Sources/Core/RichTextView.swift
  Proton/Sources/EditorCommand/TextProcessors/ListTextProcessor.swift
  Proton/Tests/Base/AutogrowingTextViewTests.swift
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testBackgroundStyleThreeLines.1.png
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testBackgroundStyleTwoLinesMinorOverlap.1.png
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testBackgroundStyleTwoLinesNoOverlap.1.png
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testBackgroundStyleTwoLinesOverlap.1.png
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testBackgroundStyleWithBorders.1.png
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testBackgroundStyleWithIncreasedFontSize.1.png
  Proton/Tests/Editor/__Snapshots__/EditorSnapshotTests/testBackgroundStyleWithIncreasedParagraphSpacing.1.png
  Proton/Tests/EditorCommands/ListCommandTests.swift
Due: Proton

Fix creating a list between paragraphs
  Proton/Sources/EditorCommand/Commands/ListCommand.swift
Due: Proton

#59 Fixed list creation between two non-list paragraphs
  Proton/Sources/Core/RichTextView.swift
  Proton/Sources/EditorCommand/Commands/ListCommand.swift
  Proton/Sources/EditorCommand/TextProcessors/ListTextProcessor.swift
  Proton/Tests/Editor/EditorListsSnapshotTests.swift
  Proton/Tests/Editor/__Snapshots__/EditorListsSnapshotTests/testCreatesListBetweenTwoParagraphs.1.png
  Proton/Tests/Editor/__Snapshots__/EditorListsSnapshotTests/testCreatesListBetweenTwoParagraphs.2.png
Due: Proton

Updated workflow to run checks on PRs (#57)
  .github/workflows/build.yml
Due: none

Fixed list creation on new items
  Proton/Sources/Core/LayoutManager.swift
Due: Proton

#59 Fixed list creation between two non-list paragraphs (#61)
  Proton/Sources/Core/LayoutManager.swift
  Proton/Sources/Core/RichTextView.swift
  Proton/Sources/EditorCommand/Commands/ListCommand.swift
  Proton/Sources/EditorCommand/TextProcessors/ListTextProcessor.swift
  Proton/Tests/Editor/EditorListsSnapshotTests.swift
  Proton/Tests/Editor/__Snapshots__/EditorListsSnapshotTests/testCreatesListBetweenTwoParagraphs.1.png
  Proton/Tests/Editor/__Snapshots__/EditorListsSnapshotTests/testCreatesListBetweenTwoParagraphs.2.png
Due: Proton

#64 Fixed FontTraitToggleCommand when executed without text selection
  ProtonExtensions/Sources/Editor/Commands/Formatting/FontTraitToggleCommand.swift
Due: ProtonExtensions
